.recent-match-card-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  margin: 16px;
  justify-content: space-between;
}
.team-logo-recents {
  height: 300px;
  width: 300px;
}

.victory {
  color: #18ed66;
}
.lost {
  color: #e31a1a;
}
